In [1]:
import pandas as pd

C:\Users\hmins\anaconda3\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

### 데이터 1
#### 65세 이상 인구 수 추출

In [2]:
# 데이터 불러오기

df1 = pd.read_csv('C:/Users/hmins/Desktop/논문데이터/고령인구비율_시도_시_군_구__20240331202922.csv', encoding='cp949')
df1.head()

,행정구역별(1),행정구역별(2),2023,2023.1,2023.2
0,행정구역별(1),행정구역별(2),고령인구비율<br>(A÷B×100) (%),65세이상인구<br>(A) (명),전체인구<br>(B) (명)
1,부산광역시,중구,30.7,11866,38619
2,부산광역시,서구,28.1,29273,104089
3,부산광역시,동구,28.6,25093,87792
4,부산광역시,영도구,31.6,33675,106548

In [3]:
# 행정구역, 65세 이상인구 제외 하고 drop

df1_2023 = df1[['행정구역별(1)','행정구역별(2)','2023.1']]
df1_2023.head()

   행정구역별(1)  행정구역별(2)              2023.1
0  행정구역별(1)  행정구역별(2)  65세이상인구<br>(A) (명)
1     부산광역시        중구               11866
2     부산광역시        서구               29273
3     부산광역시        동구               25093
4     부산광역시       영도구               33675

In [4]:
# 열 설명 데이터프레임 행 제거

df1_2023 = df1_2023[1:]
df1_2023.head()

  행정구역별(1) 행정구역별(2) 2023.1
1    부산광역시       중구  11866
2    부산광역시       서구  29273
3    부산광역시       동구  25093
4    부산광역시      영도구  33675
5    부산광역시     부산진구  79321

In [5]:
df1_2023

    행정구역별(1) 행정구역별(2) 2023.1
1      부산광역시       중구  11866
2      부산광역시       서구  29273
3      부산광역시       동구  25093
4      부산광역시      영도구  33675
5      부산광역시     부산진구  79321
..       ...      ...    ...
160     경상남도      함양군  14001
161     경상남도      거창군  18536
162     경상남도      합천군  17922
163  제주특별자치도      제주시  81115
164  제주특별자치도     서귀포시  40041

[164 rows x 3 columns]

In [6]:
# 행정구역 합쳐서 표현

for i in range(0, len(df1_2023)):
    df1_2023['시군구'] = df1_2023['행정구역별(1)'] + ' ' + df1_2023['행정구역별(2)']

In [7]:
# 열 이름 변환

df1_2023.rename(columns={'2023.1' : '65세 이상 인구 수'}, inplace=True)
df1_2023.columns

Index(['행정구역별(1)', '행정구역별(2)', '65세 이상 인구 수', '시군구'], dtype='object')

In [8]:
# 열 순서 정리

df1_2023 = df1_2023[['시군구', '65세 이상 인구 수']]
df1_2023.head()

          시군구 65세 이상 인구 수
1    부산광역시 중구       11866
2    부산광역시 서구       29273
3    부산광역시 동구       25093
4   부산광역시 영도구       33675
5  부산광역시 부산진구       79321

In [9]:
sejong_index = df1_2023[df1_2023['시군구'] =='세종특별자치시 소계'].index

In [10]:
df1_2023['시군구'][41] = '세종특별자치시'

C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\3052234646.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df1_2023['시군구'][41] = '세종특별자치시'
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\3052234646.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_2023['시군구'][41] = '세종특별자치시'

In [11]:
df1_2023.shape

(164, 2)

### 데이터 2
#### 20~39세 여성 인구 추출

In [12]:
# 데이터 불러오기

df2 = pd.read_csv('C:/Users/hmins/Desktop/논문데이터/시군구_성_연령_5세_별_주민등록연앙인구_20240331202910.csv', encoding='cp949')
df2.head()

     시점 행정구역(시군구)별  성별  20 - 24세  25 - 29세  30 - 34세  35 - 39세
0  2023      부산광역시  여자   86432.0  100678.5   96797.5   93690.0
1  2023         중구  여자    1268.0    1641.5    1168.5     855.0
2  2023         서구  여자    3090.5    3282.0    2642.5    2437.0
3  2023         동구  여자    1951.0    2903.0    2788.0    2267.0
4  2023        영도구  여자    2189.5    2377.0    2261.5    2213.0

In [13]:
# 여성인구 합
df2['20-39세 여성 인구'] = df2['20 - 24세'] + df2['25 - 29세'] + df2['30 - 34세'] + df2['35 - 39세']
df2.head()

     시점 행정구역(시군구)별  성별  20 - 24세  25 - 29세  30 - 34세  35 - 39세  20-39세 여성 인구
0  2023      부산광역시  여자   86432.0  100678.5   96797.5   93690.0      377598.0
1  2023         중구  여자    1268.0    1641.5    1168.5     855.0        4933.0
2  2023         서구  여자    3090.5    3282.0    2642.5    2437.0       11452.0
3  2023         동구  여자    1951.0    2903.0    2788.0    2267.0        9909.0
4  2023        영도구  여자    2189.5    2377.0    2261.5    2213.0        9041.0

In [14]:
# 행정구역 쪼개기

gwang_yeogsi_index= df2[df2['행정구역(시군구)별'].str.contains('광역시')].index
gwang_yeogsi_value = df2[df2['행정구역(시군구)별'].str.contains('광역시')].values
jachido_index = df2[df2['행정구역(시군구)별'].str.endswith('도')].index
jachido_value = df2[df2['행정구역(시군구)별'].str.endswith('도')].index

In [15]:
gwang_yeogsi_value[0:,[1]]

array([['부산광역시'],
       ['대구광역시'],
       ['광주광역시'],
       ['대전광역시'],
       ['울산광역시']], dtype=object)

In [16]:
index = jachido_index.append(gwang_yeogsi_index)
index = index.tolist()
index.sort()

In [17]:
for i in range(0,17):
    df2['행정구역(시군구)별'][i] = '부산광역시 '+ df2['행정구역(시군구)별'][i] 
for i in range(18,27):
    df2['행정구역(시군구)별'][i] = '대구광역시 '+ df2['행정구역(시군구)별'][i] 
for i in range(28,33):
    df2['행정구역(시군구)별'][i] = '광주광역시 '+ df2['행정구역(시군구)별'][i] 
for i in range(34,39):
    df2['행정구역(시군구)별'][i] = '대전광역시 '+ df2['행정구역(시군구)별'][i] 
for i in range(40,45):
    df2['행정구역(시군구)별'][i] = '울산광역시 '+ df2['행정구역(시군구)별'][i] 
for i in range(46,47):
    df2['행정구역(시군구)별'][i] = '세종특별자치시 '+ df2['행정구역(시군구)별'][i] 
for i in range(97,115):
    df2['행정구역(시군구)별'][i] = '강원특별자치도 '+ df2['행정구역(시군구)별'][i] 
for i in range(116,131):
    df2['행정구역(시군구)별'][i] = '충청북도 '+ df2['행정구역(시군구)별'][i] 
for i in range(132,150):
    df2['행정구역(시군구)별'][i] = '충청남도 '+ df2['행정구역(시군구)별'][i] 
for i in range(150,166):
    df2['행정구역(시군구)별'][i] = '전라북도 '+ df2['행정구역(시군구)별'][i] 
for i in range(167,189):
    df2['행정구역(시군구)별'][i] = '전라남도 '+ df2['행정구역(시군구)별'][i] 
for i in range(190,214):
    df2['행정구역(시군구)별'][i] = '경상북도 '+ df2['행정구역(시군구)별'][i] 
for i in range(215,238):
    df2['행정구역(시군구)별'][i] = '경상남도 '+ df2['행정구역(시군구)별'][i] 
for i in range(239,241):
    df2['행정구역(시군구)별'][i] = '제주특별자치도 '+ df2['행정구역(시군구)별'][i]

C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '부산광역시 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '부산광역시 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '부산광역시 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '부산광역시 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '부산광역시 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '부산광역시 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '부산광역시 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '부산광역시 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '부산광역시 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '부산광역시 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '부산광역시 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '부산광역시 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '부산광역시 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '부산광역시 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '부산광역시 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '부산광역시 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '부산광역시 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '대구광역시 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '대구광역시 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '대구광역시 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '대구광역시 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '대구광역시 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '대구광역시 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '대구광역시 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '대구광역시 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '대구광역시 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '광주광역시 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '광주광역시 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '광주광역시 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '광주광역시 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '광주광역시 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '대전광역시 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '대전광역시 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '대전광역시 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '대전광역시 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '대전광역시 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '울산광역시 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '울산광역시 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '울산광역시 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '울산광역시 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '울산광역시 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '세종특별자치시 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '강원특별자치도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '강원특별자치도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '강원특별자치도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '강원특별자치도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '강원특별자치도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '강원특별자치도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '강원특별자치도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '강원특별자치도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '강원특별자치도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '강원특별자치도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '강원특별자치도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '강원특별자치도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '강원특별자치도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '강원특별자치도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame


C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '전라남도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '전라남도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '전라남도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '전라남도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '전라남도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '전라남도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '전라남도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '전라남도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '전라남도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '전라남도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '전라남도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '전라남도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '전라남도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '전라남도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '전라남도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '전라남도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '전라남도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '경상북도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '경상북도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '경상북도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '경상북도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '경상북도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '경상북도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '경상북도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '경상북도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '경상북도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '경상북도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '경상북도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '경상북도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '경상북도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '경상북도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '경상북도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '경상북도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '경상북도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '경상북도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '경상북도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '경상북도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '경상북도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '경상북도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '경상북도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '경상북도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '경상남도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '경상남도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '경상남도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '경상남도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '경상남도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '경상남도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '경상남도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '경상남도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '경상남도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '경상남도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '경상남도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '경상남도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '경상남도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '경상남도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['행정구역(시군구)별'][i] = '경상남도 '+ df2['행정구역(시군구)별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2252537087.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame


In [18]:
df2.rename(columns={'행정구역(시군구)별' : '시군구'}, inplace=True)
df2.columns

Index(['시점', '시군구', '성별', '20 - 24세', '25 - 29세', '30 - 34세', '35 - 39세',
       '20-39세 여성 인구'],
      dtype='object')

In [19]:
df2_2023 = df2[['시군구', '20-39세 여성 인구']]
df2_2023.head()

           시군구  20-39세 여성 인구
0  부산광역시 부산광역시      377598.0
1     부산광역시 중구        4933.0
2     부산광역시 서구       11452.0
3     부산광역시 동구        9909.0
4    부산광역시 영도구        9041.0

In [20]:
df = pd.merge(df1_2023, df2_2023, on='시군구')

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162 entries, 0 to 161
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   시군구           162 non-null    object
 1   65세 이상 인구 수   162 non-null    object
 2   20-39세 여성 인구  162 non-null    float64
dtypes: float64(1), object(2)
memory usage: 3.9+ KB

In [22]:
df.loc[df['시군구'] == '대구광역시 군위군', '시군구'] = '경상북도 군위군'

In [23]:
df.loc[163] = ['경상남도 창원시', '180319', 107030]

In [24]:
df['65세 이상 인구 수'] = df['65세 이상 인구 수'].astype(int)

In [25]:
df['20-39세 여성 인구'] = df['20-39세 여성 인구'].astype(int)
df['20-39세 여성 인구'] = df['20-39세 여성 인구'].round(0)

In [26]:
# 소멸지수 계산

df['소멸지수'] = df['20-39세 여성 인구'] / df['65세 이상 인구 수']
df['소멸지수'] = df['소멸지수'].round(2)
df

              시군구  65세 이상 인구 수  20-39세 여성 인구  소멸지수
0        부산광역시 중구        11866          4933  0.42
1        부산광역시 서구        29273         11452  0.39
2        부산광역시 동구        25093          9909  0.39
3       부산광역시 영도구        33675          9041  0.27
4      부산광역시 부산진구        79321         50184  0.63
..            ...          ...           ...   ...
158      경상남도 거창군        18536          4271  0.23
159      경상남도 합천군        17922          1932  0.11
160   제주특별자치도 제주시        81115         57082  0.70
161  제주특별자치도 서귀포시        40041         17229  0.43
163      경상남도 창원시       180319        107030  0.59

[163 rows x 4 columns]

In [27]:
df.reset_index(drop=True).shape

(163, 4)

In [28]:
df = df.reset_index(drop=True)

In [29]:
# df.to_csv('소멸지수.csv')

### 데이터 3
#### 인구 천명당 의료기관 병상 수

In [30]:
df3 = pd.read_csv('C:/Users/hmins/Desktop/논문데이터/인구_천명당_의료기관병상수_시도_시_군_구__20240331205042.csv', encoding='cp949')
df3.head()

   행정구역별                              2022           2022.1             2022.2
0  행정구역별  인구 천명당 의료기관병상수<br>(A÷B×1000) (개)  총병상수<br>(A) (개)  주민등록인구<br>(B) (명)
1  부산광역시                              21.0            69800            3317812
2     중구                              46.8             1857              39689
3     서구                              50.2             5284             105192
4     동구                              33.6             2908              86462

In [31]:
df3 = df3[['행정구역별', '2022', '2022.2']]
df3.head()

   행정구역별                              2022             2022.2
0  행정구역별  인구 천명당 의료기관병상수<br>(A÷B×1000) (개)  주민등록인구<br>(B) (명)
1  부산광역시                              21.0            3317812
2     중구                              46.8              39689
3     서구                              50.2             105192
4     동구                              33.6              86462

In [32]:
df3 = df3[1:]
df3.rename(columns={'2022' : '병상 비율'}, inplace=True)
df3.rename(columns={'2022.2' : '인구 수'}, inplace=True)

In [33]:
for i in range(1,18):
    df3['행정구역별'][i] = '부산광역시 '+ df3['행정구역별'][i] 
for i in range(19,27):
    df3['행정구역별'][i] = '대구광역시 '+ df3['행정구역별'][i]
for i in range(28,33):
    df3['행정구역별'][i] = '광주광역시 '+ df3['행정구역별'][i]
for i in range(34,39):
    df3['행정구역별'][i] = '대전광역시 '+ df3['행정구역별'][i]
for i in range(40,45):
    df3['행정구역별'][i] = '울산광역시 '+ df3['행정구역별'][i] 
for i in range(47,65):
    df3['행정구역별'][i] = '강원특별자치도 '+ df3['행정구역별'][i]
for i in range(66,77):
    df3['행정구역별'][i] = '충청북도 '+ df3['행정구역별'][i]
for i in range(78,93):
    df3['행정구역별'][i] = '충청남도 '+ df3['행정구역별'][i]
for i in range(94,108):
    df3['행정구역별'][i] = '전라북도 '+ df3['행정구역별'][i]
for i in range(109,131):
    df3['행정구역별'][i] = '전라남도 '+ df3['행정구역별'][i]
for i in range(132,155):
    df3['행정구역별'][i] = '경상북도 '+ df3['행정구역별'][i]
for i in range(156,174):
    df3['행정구역별'][i] = '경상남도 '+ df3['행정구역별'][i]
for i in range(175,177):
    df3['행정구역별'][i] = '제주특별자치도 '+ df3['행정구역별'][i]

C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2709239103.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df3['행정구역별'][i] = '부산광역시 '+ df3['행정구역별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2709239103.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df3['행정구역별'][i] = '대구광역시 '+ df3['행정구역별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2709239103.py:6: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df3['행정구역별'][i] = '광주광역시 '+ df3['행정구역별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2709239103.py:8: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df3['행정구역별'][i] = '대전광역시 '+ df3['행정구역별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2709239103.py:10: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df3['행정구역별'][i] = '울산광역시 '+ df3['행정구역별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2709239103.py:12: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df3['행정구역별'][i] = '강원특별자치도 '+ df3['행정구역별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2709239103.py:14: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df3['행정구역별'][i] = '충청북도 '+ df3['행정구역별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2709239103.py:16: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df3['행정구역별'][i] = '충청남도 '+ df3['행정구역별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2709239103.py:18: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df3['행정구역별'][i] = '전라북도 '+ df3['행정구역별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2709239103.py:20: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df3['행정구역별'][i] = '전라남도 '+ df3['행정구역별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2709239103.py:22: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df3['행정구역별'][i] = '경상북도 '+ df3['행정구역별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2709239103.py:24: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df3['행정구역별'][i] = '경상남도 '+ df3['행정구역별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\2709239103.py:26: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df3['행정구역별'][i] = '제주특별자치도 '+ df3['행정구역별'][i]

In [34]:
df3.rename(columns={'행정구역별' : '시군구'}, inplace=True)
df3_2022 = df3

### 데이터 4
#### 요양기관(상급종합병원, 종합병원, 보건소, 약국 등 7개 지표)

In [35]:
df4 = pd.read_csv('C:/Users/hmins/Desktop/논문데이터/시군구별_종별_요양기관_현황_20240402110409.csv', encoding='cp949')
df4.head()

,시군구별(1),시군구별(2),2023.1/4,2023.1/4.1,2023.1/4.2,2023.1/4.3,2023.1/4.4,2023.1/4.5,2023.1/4.6,2023.1/4.7,2023.1/4.8
0,시군구별(1),시군구별(2),계,의료기관,의료기관,의료기관,의료기관,보건기관,보건기관,보건기관,약국
1,시군구별(1),시군구별(2),소계,상급종합병원,종합병원,병원,요양병원,보건의료원,보건소,보건지소,소계
2,부산,남구,522,0,1,6,8,0,1,0,124
3,부산,동구,233,0,3,5,5,0,1,0,68
4,부산,동래구,667,0,3,18,15,0,1,0,152

In [36]:
df4 = df4[2:]
df4.rename(columns={'2023.1/4.1' : '상급종합병원','2023.1/4.2':'종합병원',
                    '2023.1/4.3' : '병원', '2023.1/4.4' : '요양병원',
                    '2023.1/4.5' : '보건의료원', '2023.1/4.6' : '보건소',
                    '2023.1/4.7' : '보건지소', '2023.1/4.8' : '약국'}, inplace=True)

In [37]:
df4 = df4[['시군구별(1)','시군구별(2)','상급종합병원','종합병원','병원','요양병원','보건의료원','보건소','보건지소','약국']]

In [38]:
df4.head()

  시군구별(1) 시군구별(2) 상급종합병원 종합병원  병원 요양병원 보건의료원 보건소 보건지소   약국
2      부산      남구      0    1   6    8     0   1    0  124
3      부산      동구      0    3   5    5     0   1    0   68
4      부산     동래구      0    3  18   15     0   1    0  152
5      부산      진구      1    3  17   14     0   1    0  213
6      부산      북구      0    2   9   13     0   1    1  110

In [39]:
for i in range(2,18):
    df4['시군구별(2)'][i] = '부산광역시 '+ df4['시군구별(2)'][i]
for i in range(18,26):
    df4['시군구별(2)'][i] = '대구광역시 '+ df4['시군구별(2)'][i]
for i in range(26,31):
    df4['시군구별(2)'][i] = '광주광역시 '+ df4['시군구별(2)'][i] 
for i in range(31,36):
    df4['시군구별(2)'][i] = '대전광역시 '+ df4['시군구별(2)'][i] 
for i in range(36,41):
    df4['시군구별(2)'][i] = '울산광역시 '+ df4['시군구별(2)'][i] 
for i in range(41,42):
    df4['시군구별(2)'][i] = '세종특별자치시'   
for i in range(42,61):
    df4['시군구별(2)'][i] = '강원특별자치도 '+ df4['시군구별(2)'][i] 
for i in range(61,76):
    df4['시군구별(2)'][i] = '충청북도 '+ df4['시군구별(2)'][i] 
for i in range(76,91):
    df4['시군구별(2)'][i] = '충청남도 '+ df4['시군구별(2)'][i]
for i in range(91,107):
    df4['시군구별(2)'][i] = '전라북도 '+ df4['시군구별(2)'][i]
for i in range(107,130):
    df4['시군구별(2)'][i] = '전라남도 '+ df4['시군구별(2)'][i] 
for i in range(130,155):
    df4['시군구별(2)'][i] = '경상북도 '+ df4['시군구별(2)'][i] 
for i in range(155,173):
    df4['시군구별(2)'][i] = '경상남도 '+ df4['시군구별(2)'][i] 
for i in range(173,176):
    df4['시군구별(2)'][i] = '제주특별자치도 '+ df4['시군구별(2)'][i]

C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\656072575.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df4['시군구별(2)'][i] = '부산광역시 '+ df4['시군구별(2)'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\656072575.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df4['시군구별(2)'][i] = '대구광역시 '+ df4['시군구별(2)'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\656072575.py:6: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df4['시군구별(2)'][i] = '광주광역시 '+ df4['시군구별(2)'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\656072575.py:8: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df4['시군구별(2)'][i] = '대전광역시 '+ df4['시군구별(2)'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\656072575.py:10: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df4['시군구별(2)'][i] = '울산광역시 '+ df4['시군구별(2)'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\656072575.py:12: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df4['시군구별(2)'][i] = '세종특별자치시'
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\656072575.py:14: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df4['시군구별(2)'][i] = '강원특별자치도 '+ df4['시군구별(2)'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\656072575.py:16: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df4['시군구별(2)'][i] = '충청북도 '+ df4['시군구별(2)'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\656072575.py:18: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df4['시군구별(2)'][i] = '충청남도 '+ df4['시군구별(2)'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\656072575.py:20: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df4['시군구별(2)'][i] = '전라북도 '+ df4['시군구별(2)'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\656072575.py:22: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df4['시군구별(2)'][i] = '전라남도 '+ df4['시군구별(2)'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\656072575.py:24: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df4['시군구별(2)'][i] = '경상북도 '+ df4['시군구별(2)'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\656072575.py:26: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df4['시군구별(2)'][i] = '경상남도 '+ df4['시군구별(2)'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\656072575.py:28: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df4['시군구별(2)'][i] = '제주특별자치도 '+ df4['시군구별(2)'][i]

In [40]:
df4.rename(columns={'시군구별(2)':'시군구'}, inplace=True)

In [41]:
df4 = df4[['시군구','상급종합병원','종합병원','병원','요양병원','보건의료원','보건소','보건지소','약국']]

In [42]:
df4.loc[df4['시군구'] == '부산광역시 진구', '시군구'] = '부산광역시 부산진구'

In [43]:
pohang1 = df4.loc[df4['시군구'] == '경상북도 포항시 북구']
pohang2 = df4.loc[df4['시군구'] == '경상북도 포항시 남구']
pd.merge(pohang1, pohang2, how='outer')

           시군구 상급종합병원 종합병원 병원 요양병원 보건의료원 보건소 보건지소   약국
0  경상북도 포항시 남구      0    3  2    6     0   1    7   99
1  경상북도 포항시 북구      0    2  8   22     0   1    7  126

In [44]:
pohang = pd.DataFrame({'시군구': '경상북도 포항시', '상급종합병원':'0','종합병원':'5',
              '병원':'10', '요양병원':'28', '보건의료원':'0','보건소':'2','보건지소':'14',
                  '약국':'225'}, index= [0])
pohang

        시군구 상급종합병원 종합병원  병원 요양병원 보건의료원 보건소 보건지소   약국
0  경상북도 포항시      0    5  10   28     0   2   14  225

In [45]:
jeonju1 = df4.loc[df4['시군구'] == '전라북도 전주시 덕진구']
jeonju2 = df4.loc[df4['시군구'] == '전라북도 전주시 완산구']
pd.merge(jeonju1, jeonju2, how='outer')

            시군구 상급종합병원 종합병원  병원 요양병원 보건의료원 보건소 보건지소   약국
0  전라북도 전주시 덕진구      1    2   4   16     0   1    0  167
1  전라북도 전주시 완산구      0    3  22   18     0   1    0  215

In [46]:
jeonju = pd.DataFrame({'시군구': '전라북도 전주시', '상급종합병원':'1','종합병원':'5',
              '병원':'26', '요양병원':'34', '보건의료원':'0','보건소':'2','보건지소':'0',
                  '약국':'382'}, index= [0])
jeonju

        시군구 상급종합병원 종합병원  병원 요양병원 보건의료원 보건소 보건지소   약국
0  전라북도 전주시      1    5  26   34     0   2    0  382

In [47]:
chungju1 = df4.loc[df4['시군구'] == '충청북도 청주시 상당구']
chungju2 = df4.loc[df4['시군구'] == '충청북도 청주시 서원구']
chungju3 = df4.loc[df4['시군구'] == '충청북도 청주시 청원구']
chungju4 = df4.loc[df4['시군구'] == '충청북도 청주시 흥덕구']
pd.concat([chungju1,chungju2,chungju3,chungju4])

             시군구 상급종합병원 종합병원 병원 요양병원 보건의료원 보건소 보건지소   약국
70  충청북도 청주시 상당구      0    2  5    1     0   2    4   99
73  충청북도 청주시 서원구      1    1  5    7     0   1    2   95
72  충청북도 청주시 청원구      0    1  7    2     0   1    3   75
71  충청북도 청주시 흥덕구      0    2  8    2     0   0    4  116

In [48]:
chungju = pd.DataFrame({'시군구': '충청북도 청주시', '상급종합병원':'1','종합병원':'6',
              '병원':'25', '요양병원':'12', '보건의료원':'0','보건소':'4','보건지소':'13',
              '약국':'385'}, index= ['a'])
chungju

        시군구 상급종합병원 종합병원  병원 요양병원 보건의료원 보건소 보건지소   약국
a  충청북도 청주시      1    6  25   12     0   4   13  385

In [49]:
chunan = pd.DataFrame({'시군구': '충청남도 천안시', '상급종합병원':'2','종합병원':'2',
              '병원':'24', '요양병원':'19', '보건의료원':'0','보건소':'2','보건지소':'12',
              '약국':'300'}, index= ['a'])
chunan

        시군구 상급종합병원 종합병원  병원 요양병원 보건의료원 보건소 보건지소   약국
a  충청남도 천안시      2    2  24   19     0   2   12  300

In [50]:
df4 = pd.concat([df4, pohang, jeonju, chungju, chunan])
df4_2023 = df4

In [51]:
medical_df = pd.merge(df3_2022,df4_2023, on='시군구')

In [52]:
medical_df.loc[163] = ['경상남도 창원시', 20.6, 1021487, 1, 9, 44, 36, 0, 3, 10, 431]

In [53]:
medical_df.reset_index(drop=True).shape

(163, 11)

In [54]:
print('소멸지수.csv :', df.shape)
print('medical.csv :', medical_df.shape)

소멸지수.csv : (163, 4)
medical.csv : (163, 11)

In [55]:
medical_df['병상 비율'].replace('-',0,inplace=True)

C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\1541412598.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  medical_df['병상 비율'].replace('-',0,inplace=True)

In [56]:
medical_df['병상 비율'] = medical_df['병상 비율'].astype(float)
medical_df['인구 수'] = medical_df['인구 수'].astype(float)
medical_df['상급종합병원'] = medical_df['상급종합병원'].astype(int)
medical_df['종합병원'] = medical_df['종합병원'].astype(int)
medical_df['병원'] = medical_df['병원'].astype(int)
medical_df['요양병원'] = medical_df['요양병원'].astype(int)
medical_df['보건의료원'] = medical_df['보건의료원'].astype(int)
medical_df['보건소'] = medical_df['보건소'].astype(int)
medical_df['보건지소'] = medical_df['보건지소'].astype(int)
medical_df['약국'] = medical_df['약국'].astype(int)

In [57]:
medical_df = medical_df.reset_index(drop=True)

In [58]:
# medical_df.to_csv('medical.csv')

In [59]:
medical_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163 entries, 0 to 162
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시군구     163 non-null    object
 1   병상 비율   163 non-null    float64
 2   인구 수    163 non-null    float64
 3   상급종합병원  163 non-null    int32
 4   종합병원    163 non-null    int32
 5   병원      163 non-null    int32
 6   요양병원    163 non-null    int32
 7   보건의료원   163 non-null    int32
 8   보건소     163 non-null    int32
 9   보건지소    163 non-null    int32
 10  약국      163 non-null    int32
dtypes: float64(2), int32(8), object(1)
memory usage: 9.0+ KB

### 데이터 5
#### 학급당 학생 수

In [60]:
df5 = pd.read_csv('C:/Users/hmins/Desktop/논문데이터/학급당_학생수_시도_시_군_구__20240331213131.csv', encoding='cp949')
df5.head()

   행정구역별   2023 2023.1 2023.2 2023.3 2023.4
0  행정구역별     전체    유치원   초등학교    중학교   고등학교
1  부산광역시  21.47  17.87  21.49  24.58  20.68
2     중구  19.21  15.50  20.98  22.18  17.92
3     서구  20.42  17.71  19.77  24.45  18.80
4     동구  19.49  18.24  19.86  21.97  18.20

In [61]:
df5 = df5[['행정구역별', '2023.1', '2023.2', '2023.3', '2023.4']]
df5.head()

   행정구역별 2023.1 2023.2 2023.3 2023.4
0  행정구역별    유치원   초등학교    중학교   고등학교
1  부산광역시  17.87  21.49  24.58  20.68
2     중구  15.50  20.98  22.18  17.92
3     서구  17.71  19.77  24.45  18.80
4     동구  18.24  19.86  21.97  18.20

In [62]:
df5 = df5[1:]
df5.rename(columns={'2023.1' : '유치원'}, inplace=True)
df5.rename(columns={'2023.2' : '초등학교'}, inplace=True)
df5.rename(columns={'2023.3' : '중학교'}, inplace=True)
df5.rename(columns={'2023.4' : '고등학교'}, inplace=True)

In [63]:
for i in range(1,18):
    df5['행정구역별'][i] = '부산광역시 '+ df5['행정구역별'][i] 
for i in range(19,27):
    df5['행정구역별'][i] = '대구광역시 '+ df5['행정구역별'][i]
for i in range(28,33):
    df5['행정구역별'][i] = '광주광역시 '+ df5['행정구역별'][i]
for i in range(34,39):
    df5['행정구역별'][i] = '대전광역시 '+ df5['행정구역별'][i]
for i in range(40,45):
    df5['행정구역별'][i] = '울산광역시 '+ df5['행정구역별'][i] 
for i in range(47,65):
    df5['행정구역별'][i] = '강원특별자치도 '+ df5['행정구역별'][i]
for i in range(66,77):
    df5['행정구역별'][i] = '충청북도 '+ df5['행정구역별'][i]
for i in range(78,93):
    df5['행정구역별'][i] = '충청남도 '+ df5['행정구역별'][i]
for i in range(94,108):
    df5['행정구역별'][i] = '전라북도 '+ df5['행정구역별'][i]
for i in range(109,131):
    df5['행정구역별'][i] = '전라남도 '+ df5['행정구역별'][i]
for i in range(132,155):
    df5['행정구역별'][i] = '경상북도 '+ df5['행정구역별'][i]
for i in range(156,174):
    df5['행정구역별'][i] = '경상남도 '+ df5['행정구역별'][i]
for i in range(175,177):
    df5['행정구역별'][i] = '제주특별자치도 '+ df5['행정구역별'][i]

C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\155840383.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df5['행정구역별'][i] = '부산광역시 '+ df5['행정구역별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\155840383.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df5['행정구역별'][i] = '대구광역시 '+ df5['행정구역별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\155840383.py:6: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df5['행정구역별'][i] = '광주광역시 '+ df5['행정구역별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\155840383.py:8: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df5['행정구역별'][i] = '대전광역시 '+ df5['행정구역별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\155840383.py:10: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df5['행정구역별'][i] = '울산광역시 '+ df5['행정구역별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\155840383.py:12: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df5['행정구역별'][i] = '강원특별자치도 '+ df5['행정구역별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\155840383.py:14: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df5['행정구역별'][i] = '충청북도 '+ df5['행정구역별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\155840383.py:16: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df5['행정구역별'][i] = '충청남도 '+ df5['행정구역별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\155840383.py:18: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df5['행정구역별'][i] = '전라북도 '+ df5['행정구역별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\155840383.py:20: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df5['행정구역별'][i] = '전라남도 '+ df5['행정구역별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\155840383.py:22: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df5['행정구역별'][i] = '경상북도 '+ df5['행정구역별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\155840383.py:24: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df5['행정구역별'][i] = '경상남도 '+ df5['행정구역별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\155840383.py:26: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df5['행정구역별'][i] = '제주특별자치도 '+ df5['행정구역별'][i]

In [64]:
df5.rename(columns={'행정구역별' : '시군구'}, inplace=True)

In [65]:
df5.head()

           시군구    유치원   초등학교    중학교   고등학교
1  부산광역시 부산광역시  17.87  21.49  24.58  20.68
2     부산광역시 중구  15.50  20.98  22.18  17.92
3     부산광역시 서구  17.71  19.77  24.45  18.80
4     부산광역시 동구  18.24  19.86  21.97  18.20
5    부산광역시 영도구  14.68  17.53  21.73  17.92

In [66]:
df5 = pd.merge(df5,df, on='시군구')
df5 = df5[['시군구', '유치원', '초등학교', '중학교', '고등학교']]
df5_2023 = df5

In [67]:
# df5_2023.to_csv('edu.csv')

### 데이터 6
#### 유아 1000명당 보육시설 수

In [68]:
df6 = pd.read_csv('C:/Users/hmins/Desktop/논문데이터/유아_천명당_보육시설수_시도_시_군_구__20240402125947.csv', encoding='cp949')
df6.head()

   행정구역별                            2022
0  행정구역별  유아 천명당 보육시설수<br>(A÷B×1000) (개)
1  부산광역시                            15.0
2     중구                            22.9
3     서구                            12.5
4     동구                            14.9

In [69]:
df6.shape

(177, 2)

In [70]:
df6 = df6[1:]
df6.rename(columns={'2022' : '보육시설 비율'}, inplace=True)

In [71]:
for i in range(1,18):
    df6['행정구역별'][i] = '부산광역시 '+ df6['행정구역별'][i] 
for i in range(19,27):
    df6['행정구역별'][i] = '대구광역시 '+ df6['행정구역별'][i]
for i in range(28,33):
    df6['행정구역별'][i] = '광주광역시 '+ df6['행정구역별'][i]
for i in range(34,39):
    df6['행정구역별'][i] = '대전광역시 '+ df6['행정구역별'][i]
for i in range(40,45):
    df6['행정구역별'][i] = '울산광역시 '+ df6['행정구역별'][i] 
for i in range(47,65):
    df6['행정구역별'][i] = '강원특별자치도 '+ df6['행정구역별'][i]
for i in range(66,77):
    df6['행정구역별'][i] = '충청북도 '+ df6['행정구역별'][i]
for i in range(78,93):
    df6['행정구역별'][i] = '충청남도 '+ df6['행정구역별'][i]
for i in range(94,108):
    df6['행정구역별'][i] = '전라북도 '+ df6['행정구역별'][i]
for i in range(109,131):
    df6['행정구역별'][i] = '전라남도 '+ df6['행정구역별'][i]
for i in range(132,155):
    df6['행정구역별'][i] = '경상북도 '+ df6['행정구역별'][i]
for i in range(156,174):
    df6['행정구역별'][i] = '경상남도 '+ df6['행정구역별'][i]
for i in range(175,177):
    df6['행정구역별'][i] = '제주특별자치도 '+ df6['행정구역별'][i]

C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\1316273876.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df6['행정구역별'][i] = '부산광역시 '+ df6['행정구역별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\1316273876.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df6['행정구역별'][i] = '대구광역시 '+ df6['행정구역별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\1316273876.py:6: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df6['행정구역별'][i] = '광주광역시 '+ df6['행정구역별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\1316273876.py:8: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df6['행정구역별'][i] = '대전광역시 '+ df6['행정구역별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\1316273876.py:10: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df6['행정구역별'][i] = '울산광역시 '+ df6['행정구역별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\1316273876.py:12: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df6['행정구역별'][i] = '강원특별자치도 '+ df6['행정구역별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\1316273876.py:14: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df6['행정구역별'][i] = '충청북도 '+ df6['행정구역별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\1316273876.py:16: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df6['행정구역별'][i] = '충청남도 '+ df6['행정구역별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\1316273876.py:18: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df6['행정구역별'][i] = '전라북도 '+ df6['행정구역별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\1316273876.py:20: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df6['행정구역별'][i] = '전라남도 '+ df6['행정구역별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\1316273876.py:22: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df6['행정구역별'][i] = '경상북도 '+ df6['행정구역별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\1316273876.py:24: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df6['행정구역별'][i] = '경상남도 '+ df6['행정구역별'][i]
C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\1316273876.py:26: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df6['행정구역별'][i] = '제주특별자치도 '+ df6['행정구역별'][i]

In [72]:
df6.rename(columns={'행정구역별' : '시군구'}, inplace=True)

In [73]:
df6.head()

           시군구 보육시설 비율
1  부산광역시 부산광역시    15.0
2     부산광역시 중구    22.9
3     부산광역시 서구    12.5
4     부산광역시 동구    14.9
5    부산광역시 영도구    19.0

In [74]:
df6 = pd.merge(df6,df, on='시군구')
df6 = df6[['시군구', '보육시설 비율']]
df6_2023 = df6

In [75]:
edu_df = pd.merge(df5_2023, df6_2023, on='시군구')

In [76]:
edu_df

              시군구    유치원   초등학교    중학교   고등학교 보육시설 비율
0        부산광역시 중구  15.50  20.98  22.18  17.92    22.9
1        부산광역시 서구  17.71  19.77  24.45  18.80    12.5
2        부산광역시 동구  18.24  19.86  21.97  18.20    14.9
3       부산광역시 영도구  14.68  17.53  21.73  17.92    19.0
4      부산광역시 부산진구  18.69  21.13  23.97  18.77    13.0
..            ...    ...    ...    ...    ...     ...
158      경상남도 함양군  11.35  10.49  17.27  16.48    14.0
159      경상남도 거창군  12.63  14.92  21.03  19.60    17.3
160      경상남도 합천군   9.05   8.16  13.72  14.25    15.1
161   제주특별자치도 제주시  20.45  22.16  25.82  26.24    16.2
162  제주특별자치도 서귀포시  14.74  18.48  24.31  23.01    17.9

[163 rows x 6 columns]

In [77]:
edu_df['유치원'] = edu_df['유치원'].astype(float)
edu_df['초등학교'] = edu_df['초등학교'].astype(float)
edu_df['중학교'] = edu_df['중학교'].astype(float)
edu_df['고등학교'] = edu_df['고등학교'].astype(float)
edu_df['보육시설 비율'] = edu_df['보육시설 비율'].astype(float)

In [78]:
edu_df = edu_df.reset_index(drop=True)

In [79]:
edu_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163 entries, 0 to 162
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   시군구      163 non-null    object
 1   유치원      163 non-null    float64
 2   초등학교     163 non-null    float64
 3   중학교      163 non-null    float64
 4   고등학교     163 non-null    float64
 5   보육시설 비율  163 non-null    float64
dtypes: float64(5), object(1)
memory usage: 7.8+ KB

In [80]:
# edu_df.to_csv('edu.csv')

### 데이터 7
#### 지역 종사자 수

In [81]:
import pandas as pd

In [82]:
df7 = pd.read_csv('C:/Users/hmins/Desktop/논문데이터/시군구별_9개도___산업별__규모별__사업체수_및_종사자수_성별__20240331212105.csv', encoding='cp949')
df7.head()

   지역별(시/구/군)(1)  지역별(시/구/군)(2)  산업분류별(1)  규모별(1)      2021       2021.1
0  지역별(시/구/군)(1)  지역별(시/구/군)(2)  산업분류별(1)  규모별(1)  사업체수 (개)  총종사자수_계 (명)
1            강원도             소계        전체     전규모     58927       452913
2            강원도             소계        전체    1~4인     37835        95625
3            강원도             소계        전체    5~9인     12554        80108
4            강원도             소계        전체  10~29인      6477       102033

In [83]:
df7['지역별(시/구/군)(1)'].replace('강원도','강원특별자치도',inplace=True)

C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\1982928358.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df7['지역별(시/구/군)(1)'].replace('강원도','강원특별자치도',inplace=True)

In [84]:
df8 = pd.read_csv('C:/Users/hmins/Desktop/논문데이터/시군구별_8개시___산업별__규모별__사업체수_및_종사자수_성별__20240331212402.csv', encoding='cp949')
df8.head()

   지역별(시/군/구)(1)  지역별(시/군/구)(2)  산업분류별(1)  규모별(1)      2021       2021.1
0  지역별(시/군/구)(1)  지역별(시/군/구)(2)  산업분류별(1)  규모별(1)  사업체수 (개)  총종사자수_계 (명)
1          부산광역시             소계        전체     전규모    132295      1115608
2          부산광역시             소계        전체    1~4인     84144       214480
3          부산광역시             소계        전체    5~9인     28040       177089
4          부산광역시             소계        전체  10~29인     14681       227173

In [85]:
df7['시군구'] = df7['지역별(시/구/군)(1)'] + ' ' + df7['지역별(시/구/군)(2)']
df7.head()

,지역별(시/구/군)(1),지역별(시/구/군)(2),산업분류별(1),규모별(1),2021,2021.1,시군구
0,지역별(시/구/군)(1),지역별(시/구/군)(2),산업분류별(1),규모별(1),사업체수 (개),총종사자수_계 (명),지역별(시/구/군)(1) 지역별(시/구/군)(2)
1,강원특별자치도,소계,전체,전규모,58927,452913,강원특별자치도 소계
2,강원특별자치도,소계,전체,1~4인,37835,95625,강원특별자치도 소계
3,강원특별자치도,소계,전체,5~9인,12554,80108,강원특별자치도 소계
4,강원특별자치도,소계,전체,10~29인,6477,102033,강원특별자치도 소계

In [86]:
df8['시군구'] = df8['지역별(시/군/구)(1)'] + ' ' + df8['지역별(시/군/구)(2)']
df8.head()

,지역별(시/군/구)(1),지역별(시/군/구)(2),산업분류별(1),규모별(1),2021,2021.1,시군구
0,지역별(시/군/구)(1),지역별(시/군/구)(2),산업분류별(1),규모별(1),사업체수 (개),총종사자수_계 (명),지역별(시/군/구)(1) 지역별(시/군/구)(2)
1,부산광역시,소계,전체,전규모,132295,1115608,부산광역시 소계
2,부산광역시,소계,전체,1~4인,84144,214480,부산광역시 소계
3,부산광역시,소계,전체,5~9인,28040,177089,부산광역시 소계
4,부산광역시,소계,전체,10~29인,14681,227173,부산광역시 소계

In [87]:
df7 = df7[['시군구','규모별(1)','2021','2021.1']]

df7 = df7[1:]
df7.head()

          시군구  규모별(1)   2021  2021.1
1  강원특별자치도 소계     전규모  58927  452913
2  강원특별자치도 소계    1~4인  37835   95625
3  강원특별자치도 소계    5~9인  12554   80108
4  강원특별자치도 소계  10~29인   6477  102033
5  강원특별자치도 소계  30~49인   1119   41908

In [88]:
df8 = df8[['시군구','규모별(1)','2021','2021.1']]

df8 = df8[1:]
df8.head()

        시군구  규모별(1)    2021   2021.1
1  부산광역시 소계     전규모  132295  1115608
2  부산광역시 소계    1~4인   84144   214480
3  부산광역시 소계    5~9인   28040   177089
4  부산광역시 소계  10~29인   14681   227173
5  부산광역시 소계  30~49인    2580    97629

In [89]:
df8['시군구'].replace('세종특별자치시 세종시', '세종특별자치시', inplace=True)

C:\Users\hmins\AppData\Local\Temp\ipykernel_3044\1438412585.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df8['시군구'].replace('세종특별자치시 세종시', '세종특별자치시', inplace=True)

In [90]:
df7.rename(columns={'2021' : '사업체 수'}, inplace=True)
df7.rename(columns={'2021.1' : '총 종사자수'}, inplace=True)
df7.head()

          시군구  규모별(1)  사업체 수  총 종사자수
1  강원특별자치도 소계     전규모  58927  452913
2  강원특별자치도 소계    1~4인  37835   95625
3  강원특별자치도 소계    5~9인  12554   80108
4  강원특별자치도 소계  10~29인   6477  102033
5  강원특별자치도 소계  30~49인   1119   41908

In [91]:
df8.rename(columns={'2021' : '사업체 수'}, inplace=True)
df8.rename(columns={'2021.1' : '총 종사자수'}, inplace=True)
df8.head()

        시군구  규모별(1)   사업체 수   총 종사자수
1  부산광역시 소계     전규모  132295  1115608
2  부산광역시 소계    1~4인   84144   214480
3  부산광역시 소계    5~9인   28040   177089
4  부산광역시 소계  10~29인   14681   227173
5  부산광역시 소계  30~49인    2580    97629

In [92]:
df7 = df7[~df7['시군구'].str.contains("소계", na=False, case=False)]
df8 = df8[~df8['시군구'].str.contains("소계", na=False, case=False)]

In [93]:
print(df7.shape)
print(df8.shape)

(1353, 4)
(440, 4)

In [94]:
pd.concat([df7,df8], axis=0)

             시군구    규모별(1)  사업체 수 총 종사자수
12   강원특별자치도 춘천시       전규모  10325  83609
13   강원특별자치도 춘천시      1~4인   6303  16182
14   강원특별자치도 춘천시      5~9인   2441  15734
15   강원특별자치도 춘천시    10~29인   1159  18324
16   강원특별자치도 춘천시    30~49인    223   8308
..           ...       ...    ...    ...
502      세종특별자치시  100~199인     51   7232
503      세종특별자치시  200~299인     19   4635
504      세종특별자치시  300~499인     17   6637
505      세종특별자치시  500~999인      7   4063
506      세종특별자치시   1000인이상      3   4116

[1793 rows x 4 columns]

In [95]:
df7_pivot = df7.pivot(
    index='시군구',
    columns='규모별(1)',
    values='사업체 수')

df7_pivot.head()

규모별(1),1000인이상,100~199인,10~29인,1~4인,200~299인,300~499인,30~49인,500~999인,50~99인,5~9인,전규모
시군구,,,,,,,,,,,
강원특별자치도 강릉시,1,24,1033,5707,10,2,150,1,88,1968,8984
강원특별자치도 고성군,1,2,111,745,1,0,24,0,9,228,1121
강원특별자치도 동해시,0,12,354,2024,4,4,56,1,32,723,3210
강원특별자치도 삼척시,0,7,291,1701,2,3,52,1,33,515,2605
강원특별자치도 속초시,0,4,306,2397,4,1,47,0,27,719,3505

In [96]:
df7_pivot.columns = ['1000인 이상(C)',
                     '100~199인(C)',
                     '10~29인(C)',
                     '1~4인(C)',
                     '200~299인(C)',
                     '300~499인(C)',
                     '30~49인(C)',
                     '500~999인(C)',
                     '50~99인(C)',
                     '5~9인(C)',
                     '전규모(C)']

In [97]:
df8_pivot = df8.pivot(
    index='시군구',
    columns='규모별(1)',
    values='사업체 수')

df8_pivot.head()

규모별(1),1000인이상,100~199인,10~29인,1~4인,200~299인,300~499인,30~49인,500~999인,50~99인,5~9인,전규모
시군구,,,,,,,,,,,
광주광역시 광산구,2,91,1870,9707,31,13,334,6,190,3301,15545
광주광역시 남구,0,30,562,3519,10,7,119,6,79,1165,5497
광주광역시 동구,4,22,507,4524,6,6,103,2,57,1142,6373
광주광역시 북구,1,93,1638,9874,28,21,296,4,182,3196,15333
광주광역시 서구,6,63,1557,8203,23,9,247,6,178,2951,13243

In [98]:
df8_pivot.columns = ['1000인 이상(C)',
                     '100~199인(C)',
                     '10~29인(C)',
                     '1~4인(C)',
                     '200~299인(C)',
                     '300~499인(C)',
                     '30~49인(C)',
                     '500~999인(C)',
                     '50~99인(C)',
                     '5~9인(C)',
                     '전규모(C)']

In [99]:
df_company = pd.concat([df7_pivot,df8_pivot])

In [100]:
df_company['1000인 이상(C)'] = df_company['1000인 이상(C)'].astype(int)
df_company['100~199인(C)'] = df_company['100~199인(C)'].astype(int)
df_company['10~29인(C)'] = df_company['10~29인(C)'].astype(int)
df_company['1~4인(C)'] = df_company['1~4인(C)'].astype(int)
df_company['200~299인(C)'] = df_company['200~299인(C)'].astype(int)
df_company['300~499인(C)'] = df_company['300~499인(C)'].astype(int)
df_company['30~49인(C)'] = df_company['30~49인(C)'].astype(int)
df_company['500~999인(C)'] = df_company['500~999인(C)'].astype(int)
df_company['50~99인(C)'] = df_company['50~99인(C)'].astype(int)
df_company['5~9인(C)'] = df_company['5~9인(C)'].astype(int)
df_company['전규모(C)'] = df_company['전규모(C)'].astype(int)

In [101]:
df_company.info()

<class 'pandas.core.frame.DataFrame'>
Index: 163 entries, 강원특별자치도 강릉시 to 울산광역시 중구
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   1000인 이상(C)  163 non-null    int32
 1   100~199인(C)  163 non-null    int32
 2   10~29인(C)    163 non-null    int32
 3   1~4인(C)      163 non-null    int32
 4   200~299인(C)  163 non-null    int32
 5   300~499인(C)  163 non-null    int32
 6   30~49인(C)    163 non-null    int32
 7   500~999인(C)  163 non-null    int32
 8   50~99인(C)    163 non-null    int32
 9   5~9인(C)      163 non-null    int32
 10  전규모(C)       163 non-null    int32
dtypes: int32(11)
memory usage: 8.3+ KB

In [102]:
# df_company.to_csv('company.csv')

### 데이터 8
#### 종사자 수

In [103]:
df9_pivot = df7.pivot(
    index='시군구',
    columns='규모별(1)',
    values='총 종사자수')

df9_pivot.head()

규모별(1),1000인이상,100~199인,10~29인,1~4인,200~299인,300~499인,30~49인,500~999인,50~99인,5~9인,전규모
시군구,,,,,,,,,,,
강원특별자치도 강릉시,1624,3237,16341,14884,2305,834,5530,856,6081,12500,64192
강원특별자치도 고성군,1804,328,1740,1912,297,0,886,0,606,1456,9029
강원특별자치도 동해시,0,1541,5610,5253,999,1487,2112,705,2162,4567,24436
강원특별자치도 삼척시,0,899,4478,4100,419,1091,1935,635,2178,3292,19027
강원특별자치도 속초시,0,551,4622,6335,989,467,1804,0,1798,4478,21044

In [104]:
df9_pivot.columns = ['1000인 이상(W)',
                     '100~199인(W)',
                     '10~29인(W)',
                     '1~4인(W)',
                     '200~299인(W)',
                     '300~499인(W)',
                     '30~49인(W)',
                     '500~999인(W)',
                     '50~99인(W)',
                     '5~9인(W)',
                     '전규모(W)']

In [105]:
df10_pivot = df8.pivot(
    index='시군구',
    columns='규모별(1)',
    values='총 종사자수')

df10_pivot.head()

규모별(1),1000인이상,100~199인,10~29인,1~4인,200~299인,300~499인,30~49인,500~999인,50~99인,5~9인,전규모
시군구,,,,,,,,,,,
광주광역시 광산구,4064,12172,29645,25039,7495,4907,12468,4117,13320,21000,134227
광주광역시 남구,0,4195,8612,8634,2528,2957,4422,4476,5502,7356,48682
광주광역시 동구,11819,2961,7815,10876,1466,2202,3762,1475,3895,7235,53506
광주광역시 북구,3615,13172,25493,24848,6778,7729,11085,3349,12240,20387,128696
광주광역시 서구,15913,8794,24237,20636,5386,3277,9324,4241,12177,18810,122795

In [106]:
df10_pivot.columns = ['1000인 이상(W)',
                     '100~199인(W)',
                     '10~29인(W)',
                     '1~4인(W)',
                     '200~299인(W)',
                     '300~499인(W)',
                     '30~49인(W)',
                     '500~999인(W)',
                     '50~99인(W)',
                     '5~9인(W)',
                     '전규모(W)']

In [107]:
df_worker = pd.concat([df9_pivot,df10_pivot])

In [108]:
df_worker['1000인 이상(W)'] = df_worker['1000인 이상(W)'].astype(int)
df_worker['100~199인(W)'] = df_worker['100~199인(W)'].astype(int)
df_worker['10~29인(W)'] = df_worker['10~29인(W)'].astype(int)
df_worker['1~4인(W)'] = df_worker['1~4인(W)'].astype(int)
df_worker['200~299인(W)'] = df_worker['200~299인(W)'].astype(int)
df_worker['300~499인(W)'] = df_worker['300~499인(W)'].astype(int)
df_worker['30~49인(W)'] = df_worker['30~49인(W)'].astype(int)
df_worker['500~999인(W)'] = df_worker['500~999인(W)'].astype(int)
df_worker['50~99인(W)'] = df_worker['50~99인(W)'].astype(int)
df_worker['5~9인(W)'] = df_worker['5~9인(W)'].astype(int)
df_worker['전규모(W)'] = df_worker['전규모(W)'].astype(int)

In [109]:
# df_worker.to_csv('worker.csv')